body {
  margin: 8rem 2rem;
  margin-bottom: 2.5rem;
}
h1,
p {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1.8rem;
}

p {
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

a {
  background-color: #1a63dd;
  color: #fff;
}
