body {
  margin: 8rem 2rem;
  margin-bottom: 2.5rem;
}
h1,
p {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1.8rem;
  position: relative;
}

h1::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #c7d0e0;
  z-index: -1;
  border-radius: 10px;
  top: -5rem;
  left: -4rem;
}

p {
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

a {
  background-color: #1a63dd;
  color: #fff;
  padding: 1.1rem 0;

  justify-content: center;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  border-radius: 0.5rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 150px;
  grid-template-areas:
    "dead abs"
    "woman woman";
  gap: 1.3rem;
}

.images-container img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 0.7rem;
}

.woman {
  grid-area: woman;
}

@media only screen and (min-width: 834px) {
  body {
    margin: 180px 125px;
  }

  a {
    display: inline-block;
    padding-left: 23px;
    padding-right: 23px;
  }
  a > span {
    margin-right: 1rem;
  }

  h1::before {
    top: -5rem;
    left: -4rem;
  }
  p {
    font-size: 22px;
  }

  .images-container {
    grid-template-areas:
      "dead abs"
      "dead woman";
    grid-template-rows: repeat(2, 262px);
  }

  .deadlift {
    grid-area: dead;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    margin: 255px 165px;
  }

  section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .top-container {
    flex: 1;
  }

  .images-container {
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px;
    justify-content: end;
    flex: 0.8;
  }
}
